Test/ICT2Client/xml-resources/web-service-references/ICT2WebService/wsdl/localhost_8080/ICT2WebApplication/ICT2WebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://server/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="addDoubleToArray" type="tns:addDoubleToArray"/>

<xs:element name="addDoubleToArrayResponse" type="tns:addDoubleToArrayResponse"/>

<xs:element name="getAllDoubleSamplesAbove" type="tns:getAllDoubleSamplesAbove"/>

<xs:element name="getAllDoubleSamplesAboveResponse" type="tns:getAllDoubleSamplesAboveResponse"/>

<xs:element name="getLargestDoubleOnServer" type="tns:getLargestDoubleOnServer"/>

<xs:element name="getLargestDoubleOnServerResponse" type="tns:getLargestDoubleOnServerResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="longestString" type="tns:longestString"/>

<xs:element name="longestStringResponse" type="tns:longestStringResponse"/>

<xs:element name="safeLongestString" type="tns:safeLongestString"/>

<xs:element name="safeLongestStringResponse" type="tns:safeLongestStringResponse"/>

<xs:element name="testConnection" type="tns:testConnection"/>

<xs:element name="testConnectionResponse" type="tns:testConnectionResponse"/>

<xs:complexType name="getAllDoubleSamplesAbove">
<xs:sequence>
<xs:element name="d" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllDoubleSamplesAboveResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="testConnection">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="testConnectionResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDoubleToArray">
<xs:sequence>
<xs:element name="d" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDoubleToArrayResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="longestString">
<xs:sequence>
<xs:element name="s1" type="xs:string" minOccurs="0"/>
<xs:element name="s2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="longestStringResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLargestDoubleOnServer">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLargestDoubleOnServerResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="safeLongestString">
<xs:sequence>
<xs:element name="s1" type="xs:string" minOccurs="0"/>
<xs:element name="s2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="safeLongestStringResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>